:root {
  --white: #ffffff;
  --yellow: #F8F200;
  --black: #000000;
  --light-blue: #52BEDC;
  --boredom: #899D9D;
  --green-leaf: #506829;
  --disco-ball: #d4d4d4;
  --lime-it-or-leave-it: #91AC46;
  --cyber-gray: #777777;
}