@import url(../global/index.css);
@import url(../pages/index.css);

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* <---section 1---> */
.get-started {
    background-image: url(/img/main_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 0px 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 20px;
}

.header__container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 0px;
}

.header__socials__list {
    display: flex;
    gap: 40px;
}

.item {
    cursor: pointer;
    background-color: transparent;
}

.get-started__container {
    display: flex;
    width: 100vw;
    padding-bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.get-started__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;

    width: 624px;
    height: 340px;
    background: var(--yellow);
    border-top-left-radius: 30px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.get-started__content h2 {
    padding-left: 70px;
}

.get-started__content{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: var(--black);
}

.get-started__content h2 {
    padding-top: 70px;
    color: var(--black);
    font-family: 'Archangelsk', sans-serif;
}

.btn__submit {
    background-color: var(--black);
    align-self: flex-start;
    width: 272px;
    height: 78px;

    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}


/* <---section 2---> */
.night-city {
    height: 847px;
}

.night-city__container {
}

.night-city__content h2 {
    font-size: 62px;
    padding-top: 70px;
    color: var(--black);
    font-family: 'Archangelsk', sans-serif;
}

.night-city__content h3 {
    font-size: 18;
    color: #777777;
}

.night-city__grid {
    display: grid;
    padding-top: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    height: 500px;
    grid-auto-flow: row;
}

.img-left-1 { 
    grid-column: 1;
    grid-row: 1;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.img-left-2 { 
    grid-column: 1;
    grid-row: 2;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.img-right { 
    grid-column: 2;
    grid-row: 1 / span 2;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

/* <---section 3---> */

.winplay {
    position: relative;
    background-color: var(--black);

    display: flex;
}

.winplay::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 70px;
    
    background-image: url(/img/rastr.png);
    background-repeat: repeat-x;
}

.winplay__container {
    max-width: 1330px;
    margin: 0 auto;
    height: 814px;

    flex: 1;
    display: flex;
    align-items: center;
}

.winplay__title {
    color: var(--white);

    background-image: url(/img/sale.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 164px;
    padding-top: 50px;
    height: 200px;
}

.winplay__description {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.winplay__description h2{
    font-size: 61px;
    font-family: 'Archangelsk', sans-serif;

}



.winplay__description p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.winplay__content {
    margin-top: 60px;
}


.winplay::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    
    background-image: url(/img/rastr-2.png);
    background-repeat: repeat-x;
}
/* <---section 4---> */
