@import url(../global/index.css);
@import url(../pages/index.css);

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.winplay__description p span {
    color: var(--light-blue);
    font-weight: 500;
}

/* <---section 1---> */
.get-started {
    background-image: url(/img/main_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 0px 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 20px;
}

.header__container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 0px;
}

.header__socials__list {
    display: flex;
    gap: 40px;
}

.item {
    cursor: pointer;
    background-color: transparent;
}

.get-started__container {
    display: flex;
    width: 100vw;
    padding-bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.get-started__bg {
    position: absolute;
    justify-content: center;
    width: 624px;
    height: 369px;

    bottom: 0;
    right: 170px;
    padding: 65px;
    gap: 25px;    

    background: var(--yellow);
    border-top-left-radius: 30px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.get-started__settings {
    display: flex;
    flex-direction: column;
    text-align: center left;
    margin: 0;
}

.get-started__title {
    position: relative;
    justify-content: center;

    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: var(--black);
}

.btn__submit {
    background-color: var(--black);
    align-self: flex-start;
    width: 272px;
    height: 78px;

    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}



/* <---section 2---> */
.night-city {
    height: 847px;
}

.night-city__container {
}

.night-city__content h2 {
    font-size: 62px;
    padding-top: 70px;
    color: var(--black);
    font-family: 'Archangelsk', sans-serif;
}

.night-city__content h3 {
    font-size: 18;
    color: #777777;
}

.night-city__grid {
    display: grid;
    padding-top: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    height: 500px;
    grid-auto-flow: row;
}

.img-left-1 { 
    grid-column: 1;
    grid-row: 1;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.img-left-2 { 
    grid-column: 1;
    grid-row: 2;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.img-right { 
    grid-column: 2;
    grid-row: 1 / span 2;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

/* <---section 3---> */

.winplay {
    position: relative;
    background-color: var(--black);

    padding: 120px;
}

.winplay::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 70px;
    
    background-image: url(/img/rastr.png);
    background-repeat: repeat-x;
}

.winplay__container {
    max-width: 1330px;
    margin: 0 auto;
    height: 814px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.winplay__title {
    color: var(--white);

    background-image: url(/img/sale.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 164px;
    padding-top: 50px;
    height: 200px;
}

.winplay__description {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.winplay__description h2{
    font-size: 62px;
    font-family: 'Archangelsk', sans-serif;
}



.winplay__description p {
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.winplay__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 60px;
}


.winplay::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    
    background-image: url(/img/rastr-2.png);
    background-repeat: repeat-x;
}

/* --- form --- */
.winplay__game-console {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winplay__form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.winplay__form input {
  padding-bottom: 13px;
  background-color: inherit;
  border-bottom: 1px solid var(--cyber-gray);

  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--white);
}

.winplay__form input::placeholder {
  color: var(--white);
}

.winplay__upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.winplay__upload-btn input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.winplay__upload-btn button {
  padding: 39px 137px;
  background-color: inherit;

  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: var(--white);
  line-height: 1.8;
  border: 2px dashed var(--cyber-gray);
  cursor: pointer;
}

.winplay__image img {
  width: 788px;
  height: auto;
}

.btn_yellow {
    width: 192px;
    height: 59px;
    background-color: var(--yellow);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.winplay__custom-checkbox input {
  display: none;
}

.winplay__custom-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--white);
}

.winplay__checkmark {
  width: 14px;
  height: 14px;
  border: 1px solid var(--cyber-gray);
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.winplay__checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.winplay__custom-checkbox input:checked + .winplay__checkmark::after {
  display: block;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 7px;
  border: solid var(--yellow);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* <---section 4---> */
.dive-bg{
    background-color: var(--yellow);
    height: 676px;
    width: 100%;
    display: flex;
}

.dive__content{
    padding-top: 140px;
    padding-bottom: 80px;
}

.dive-leftside__container{

}

.dive__leftside img{
    width: 540px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.dive-rightside__container{

}

.dive-rightside__title{
    font-size: 42px;
    font-family: 'Archangelsk', sans-serif;
}

.dive-rightside__description{

}

.dive-rightside__ul{

}

.dive-rightside__li{

}


.img{
    
}


/* <---section 5---> */